@import './font/iconfont.css';
@import './normalize.css';

.logo {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.profile-icon {
  padding-right: 10px;
  font-size: 24px;
}

.zh {
  font-size: 26px;
  color: #348bee;
}

.jj {
  font-size: 22px;
  color: #1977ee;
}

.sf {
  color: #5a9565;
}

.csdn {
  color: rgb(207, 35, 35);
}
